*.zip
*.crx
*.pem
*.map
*.exe
*.dmg
*.AppImage
dist
ModernDeck_app_tmp
ModernDeck_ext_tmp
node_modules
.DS_Store
*/.DS_Store
*/*/.DS_Store
*.log
*.appx
default.*
package-lock.json
ModernDeck/sources/moderndeck.js
