*.zip
*.crx
*.pem
*.exe
*.dmg
*.AppImage
dist
ModernDeck_app_tmp
ModernDeck_ext_tmp
common/assets/moderndeck.js
common/assets/moderndeck.js.map
node_modules
.DS_Store
*/.DS_Store
*/*/.DS_Store
*.log
*.appx
default.*
