.avatar {
    width: 36px;
    height: 36px;
    border-radius: 100%
}

.avatar.size14 {
    width: 14px;
    height: 14px
}

.avatar.size16 {
    width: 16px;
    height: 16px
}

.avatar.size18 {
    width: 18px;
    height: 18px
}

.avatar.size24 {
    width: 24px;
    height: 24px
}

.avatar.size30 {
    width: 30px;
    height: 30px
}

.avatar.size32 {
    width: 32px;
    height: 32px
}

.avatar.size36 {
    width: 36px;
    height: 36px
}

.avatar.size48 {
    width: 48px;
    height: 48px
}

.avatar.size64 {
    width: 64px;
    height: 64px
}

.avatar.size73 {
    width: 73px;
    height: 73px
}

.avatar-border--2 {
    margin: -2px;
    border: 2px solid #fff;
    background-color: #fff
}

.multiple-avatar-grid {
    height: 36px
}

.multiple-avatar-grid-mini {
    height: 24px;
    width: 24px
}
