@import "variables.css";

#column-navigator, .column-navigator {
	width:100%
}

.app-header {
	width:160px;
	left:0;
	top:0;
	bottom:0;
	right:0;
	z-index:3
}

.is-condensed .app-header {
	width:var(--verticalHeadWidth)
}

.app-header-inner {
	width:100%;
	padding:10px 12px;
	box-sizing:border-box;
	min-width:var(--verticalHeadWidth)
}

.app-nav-tab {
    font-size:18px;
    cursor:pointer;
    padding-left:4px;
    padding-right:10px;
    margin-left:6px;
    border-top-left-radius:2px;
    border-bottom-left-radius:2px
}

.column-nav-link {
    position:relative;
    height:100%;
    cursor:pointer
}
