@import "drawer.css";

.compose-accounts {
    margin-left:-8px;
    margin-right:-8px
}

.compose-accounts .compose-account {
    margin-left:8px;
    margin-right:8px;
    margin-bottom:16px
}

.compose-accounts.is-minigrid {
    margin-left:-4px;
    margin-right:-5px
}

.compose-accounts.is-minigrid .compose-account {
    margin-left:4px;
    margin-right:5px;
    margin-bottom:9px
}

.compose-account {
    position:relative;
    border-radius:100%
}

.is-list .compose-account {
    float:none;
    width:100%;
    margin-right:0;
    margin-bottom:14px
}

.compose-account-names {
    opacity:.47
}
