/* Animation keyframes */

@import "commonAnimation.css";

/* Basic class definitions */

.mtd-fade-out {
	animation:fadeOut 0.2s var(--animationTiming)!important;
	animation-fill-mode:both;
	pointer-events:none
}

.dropdown-menu {
	position:absolute;
	z-index:10;
	right:50%;
	top:20px;
	text-align:left;
	font-weight:400;
	font-size:14.5px;
	line-height:18px;
	box-shadow:0 2px 5px 0 var(--contextMenuShadow);
	margin-top:-18px;
	text-indent:0;
	width:220px;
	margin-right:-10px;
	border-radius:2px;
	animation:menuDown 0.3s var(--animationTiming)
}

.dropdown-menu li:not(.drp-h-divider),.dropdown-menu menuitem:not(.drp-h-divider) {
	position:relative;
	display:block;
	padding:8px 0 0 18px;
	height:27px
}

.dropdown-menu a {
	position:absolute;
	line-height:2;
	padding:5px 0 0 15px
}

.conversation-menu-position.dropdown-menu a {
	padding-left:0;
	margin-left:16px
}

.conversation-menu-position.dropdown-menu a[data-action]:before {
	content:""!important;
	display:none
}

.pos-t {
	top:auto;
	bottom:0;
	right:0;
	animation:menuUp 0.3s var(--animationTiming)
}

.ovl-trap {
	z-index:1
}

.popover {
	z-index:6;
	position:absolute;
	border-radius:4px;
	box-shadow:0 2px 5px rgba(117,117,117,.8);
	margin-left:auto;
	pointer-events:all;
	animation:leftPopoverDown 0.25s var(--animationTiming);
	transition:opacity 0.25s var(--animationTiming),max-height 0.2s var(--animationTiming)
}

.popover-content {
	overflow-x:hidden
}

.popover-position-rt {
	z-index:6;
	left:65px;
	top:-60px;
	right:0;
	animation:rightPopoverDown 0.25s var(--animationTiming)
}

.mtd-head-left .popover-position-rt {
	margin-left:-60px;
	margin-top:103px!important
}

.mtd-js-app:not(.mtd-app) .popover-position-rt {
	top:-60px
}
