
.mdl {
    display:inline-block;
    vertical-align:middle;
    position:relative;
    width:643px;
    height:630px;
    margin:0 auto;
    text-align:left;
    border-radius:5px
}

.mdl-fixed-top {
    vertical-align:top;
    top:100px
}

.mdl-bottom-right {
    vertical-align:bottom;
    top:0;
    left:50%;
    margin-right:460px
}

.seamful.mdl {
    background-color:transparent
}

.mdl-header {
    position:relative;
    padding:15px;
    color:inherit
}

.mdl-header-centered {
    margin:0 auto;
    width:65%
}

.mdl-header-title {
    font-size:16px;
    font-weight:400;
    text-align:center
}

.mdl-inner {
    position:absolute;
    top:50px;
    left:0;
    right:0;
    bottom:45px;
    padding:15px
}

.mdl-content {
    height:100%;
    border-radius:5px;
    background-clip:padding-box;
    overflow:hidden
}

.mdl-content.with-scroll {
    max-height:450px;
    overflow-y:scroll;
    white-space:nowrap;
    font-size:1rem
}

.mdl-buttonbar {
    padding:15px;
    margin-left:-15px;
    margin-right:-15px;
    margin-bottom:-15px;
    overflow:hidden
}

.mdl-placeholder {
    padding:30px;
    text-align:center;
    line-height:1.2;
}

.mdl-dismiss {
    z-index:100;
    position:absolute;
    right:10px;
    top:10px;
    opacity:.7;
    color:inherit
}

.mdl-dismiss:hover {
    color:inherit;
    opacity:1
}

.is-inverted-light .mdl-btn-media,.mdl-btn-media {
    opacity:.7
}

.is-inverted-light .mdl-btn-media:active,.is-inverted-light .mdl-btn-media:hover,.mdl-btn-media:active,.mdl-btn-media:focus,.mdl-btn-media:hover {
    opacity:1
}

.mdl-media-next,.mdl-media-prev {
    position:absolute;
    height:100%;
    width:40px;
    top:0
}

.mdl-media-prev {
    left:0
}

.mdl-media-next {
    right:0
}

.mdl-media-next .icon,.mdl-media-next .Icon,.mdl-media-prev .icon,.mdl-media-prev .Icon {
    position:absolute;
    left:50%;
    margin-left:-13px;
    margin-top:-13px;
    top:50%;
    width:26px;
    height:26px
}

.mdl-column {
    display:inline-block;
    font-size:1rem;
    white-space:normal;
    float:none;
    vertical-align:top
}

.mdl-column-sml {
    width:200px
}

.mdl-column-lrg {
    width:410px
}

.mdl-column-med {
    width:260px;
    background:#f5f8fa;
    border-radius:5px 0 0 5px
}

.mdl-column-rhs {
    border-left:1px solid #ccd6dd;
    border-radius:0 5px 5px 0;
    width:350px;
    overflow:hidden;
    z-index:1
}

.mdl.s-fluid {
    height:auto;
    width:auto
}

.mdl.s-fluid-height {
    height:auto
}

.mdl.s-fluid-height .mdl-inner,.mdl.s-fluid .mdl-inner {
    position:relative;
    top:auto;
    bottom:auto;
    left:auto;
    right:auto
}

.mdl.s-nonav .mdl-inner {
    bottom:0
}

.mdl.s-nonav .mdl-inner .mdl-buttonbar {
    display:none
}

.mdl.s-static .mdl-inner {
    position:static
}

.mdl.s-narrow {
    width:400px
}

.mdl.s-narrow-500 {
    width:500px
}

.mdl.s-short {
    height:430px
}

.mdl.s-wide {
    width:643px
}

.mdl.s-full {
    position:absolute;
    bottom:0;
    right:0;
    left:0;
    height:100%;
    width:100%;
    max-width:1024px;
    margin:0 auto
}

.s-profile {
    height:auto;
    width:auto
}

.s-profile h3 {
    display:none
}

.s-profile .mdl-content {
    overflow:visible;
    border:none;
    white-space:normal;
    font-size:1rem
}

.s-profile .mdl-inner {
    position:relative;
    top:0
}

.s-profile .mdl-buttonbar {
    display:none
}

.s-profile .mdl-header,.s-profile .mdl-inner {
    padding:0
}

.s-minimal .mdl-header {
    border-bottom:1px solid #ccd6dd
}

.s-minimal .mdl-inner {
    top:50px
}

.s-minimal .mdl-content {
    border:none;
    border-radius:0;
    background:transparent
}
