.overlay,.ovl,.ovl-plain {
    display:none;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:3
}

.overlay:before,.ovl-plain:before,.ovl:before {
    content:"";
    display:inline-block;
    height:100%;
    vertical-align:middle;
    margin-right:-.25em
}

.is-dragging.overlay:before,.ovl.is-dragging:before {
    display:none
}

.ovl-block {
    display:inline-block;
    vertical-align:middle;
    text-align:left
}

.overlay {
    display:block;
    position:fixed;
    z-index:5
}

.overlay-super {
    z-index:5
}
