
small {
    font-size: .8571rem
}

.txt-size--9 {
    font-size: 9px!important
}

.txt-line-height--9 {
    line-height: 9px
}

.txt-size--10 {
    font-size: 10px!important
}

.txt-line-height--10 {
    line-height: 10px
}

.txt-size--11 {
    font-size: 11px!important
}

.txt-line-height--11 {
    line-height: 11px
}

.txt-size--12 {
    font-size: 12px!important
}

.txt-line-height--12 {
    line-height: 12px
}

.txt-size--13 {
    font-size: 13px!important
}

.txt-line-height--13 {
    line-height: 13px
}

.txt-size--14 {
    font-size: 14px!important
}

.txt-line-height--14 {
    line-height: 14px
}

.txt-size--15 {
    font-size: 15px!important
}

.txt-line-height--15 {
    line-height: 15px
}

.txt-size--16 {
    font-size: 16px!important
}

.txt-line-height--16 {
    line-height: 16px
}

.txt-size--17 {
    font-size: 17px!important
}

.txt-line-height--17 {
    line-height: 17px
}

.txt-size--18 {
    font-size: 18px!important
}

.txt-line-height--18 {
    line-height: 18px
}

.txt-size--19 {
    font-size: 19px!important
}

.txt-line-height--19 {
    line-height: 19px
}

.txt-size--20 {
    font-size: 20px!important
}

.txt-line-height--20 {
    line-height: 20px
}

.txt-size--21 {
    font-size: 21px!important
}

.txt-line-height--21 {
    line-height: 21px
}

.txt-size--22 {
    font-size: 22px!important
}

.txt-line-height--22 {
    line-height: 22px
}

.txt-size--23 {
    font-size: 23px!important
}

.txt-line-height--23 {
    line-height: 23px
}

.txt-size--24 {
    font-size: 24px!important
}

.txt-line-height--24 {
    line-height: 24px
}

.txt-size--25 {
    font-size: 25px!important
}

.txt-line-height--25 {
    line-height: 25px
}

.txt-size--26 {
    font-size: 26px!important
}

.txt-line-height--26 {
    line-height: 26px
}

.txt-size--27 {
    font-size: 27px!important
}

.txt-line-height--27 {
    line-height: 27px
}

.txt-size--28 {
    font-size: 28px!important
}

.txt-line-height--28 {
    line-height: 28px
}

.txt-size--29 {
    font-size: 29px!important
}

.txt-line-height--29 {
    line-height: 29px
}

.txt-size--30 {
    font-size: 30px!important
}

.txt-line-height--30 {
    line-height: 30px
}

.txt-size--31 {
    font-size: 31px!important
}

.txt-line-height--31 {
    line-height: 31px
}

.txt-size--32 {
    font-size: 32px!important
}

.txt-line-height--32 {
    line-height: 32px
}

.txt-size--33 {
    font-size: 33px!important
}

.txt-line-height--33 {
    line-height: 33px
}

.txt-size--34 {
    font-size: 34px!important
}

.txt-line-height--34 {
    line-height: 34px
}

.txt-size--35 {
    font-size: 35px!important
}

.txt-line-height--35 {
    line-height: 35px
}

.txt-size--36 {
    font-size: 36px!important
}

.txt-line-height--36 {
    line-height: 36px
}

.txt-size--37 {
    font-size: 37px!important
}

.txt-line-height--37 {
    line-height: 37px
}

.txt-size--38 {
    font-size: 38px!important
}

.txt-line-height--38 {
    line-height: 38px
}

.txt-size--39 {
    font-size: 39px!important
}

.txt-line-height--39 {
    line-height: 39px
}

.txt-size--40 {
    font-size: 40px!important
}

.txt-line-height--40 {
    line-height: 40px
}

.txt-size--0 {
    font-size: 0
}

.txt-size-variable--9 {
    font-size: .64286rem!important
}

.txt-size-variable--10 {
    font-size: .71429rem!important
}

.txt-size-variable--11 {
    font-size: .78571rem!important
}

.txt-size-variable--12 {
    font-size: .85714rem!important
}

.txt-size-variable--13 {
    font-size: .92857rem!important
}

.txt-size-variable--14 {
    font-size: 1rem!important
}

.txt-size-variable--15 {
    font-size: 1.07143rem!important
}

.txt-size-variable--16 {
    font-size: 1.14286rem!important
}

.txt-size-variable--17 {
    font-size: 1.21429rem!important
}

.txt-size-variable--18 {
    font-size: 1.28571rem!important
}

.txt-size-variable--19 {
    font-size: 1.35714rem!important
}

.txt-size-variable--20 {
    font-size: 1.42857rem!important
}

.txt-size-variable--21 {
    font-size: 1.5rem!important
}

.txt-size-variable--22 {
    font-size: 1.57143rem!important
}

.txt-size-variable--23 {
    font-size: 1.64286rem!important
}

.txt-size-variable--24 {
    font-size: 1.71429rem!important
}

.txt-size-variable--25 {
    font-size: 1.78571rem!important
}

.txt-size-variable--26 {
    font-size: 1.85714rem!important
}

.txt-size-variable--27 {
    font-size: 1.92857rem!important
}

.txt-size-variable--28 {
    font-size: 2rem!important
}

.txt-size-variable--29 {
    font-size: 2.07143rem!important
}

.txt-size-variable--30 {
    font-size: 2.14286rem!important
}

.txt-size-variable--31 {
    font-size: 2.21429rem!important
}

.txt-size-variable--32 {
    font-size: 2.28571rem!important
}

.txt-size-variable--33 {
    font-size: 2.35714rem!important
}

.txt-size-variable--34 {
    font-size: 2.42857rem!important
}

.txt-size-variable--35 {
    font-size: 2.5rem!important
}

.txt-size-variable--36 {
    font-size: 2.57143rem!important
}

.txt-size-variable--37 {
    font-size: 2.64286rem!important
}

.txt-size-variable--38 {
    font-size: 2.71429rem!important
}

.txt-size-variable--39 {
    font-size: 2.78571rem!important
}

.txt-size-variable--40 {
    font-size: 2.85714rem!important
}

.letter-spacing--1 {
    letter-spacing: 1px
}

.letter-spacing--3 {
    letter-spacing: 3px
}

.txt-italic {
    font-style: italic
}

.txt-bold {
    font-weight: 700
}

.txt-weight-normal {
    font-weight: 400
}

.txt-weight--100 {
    font-weight: 100
}

.txt-weight--200 {
    font-weight: 200
}

.txt-weight--300 {
    font-weight: 300
}

.txt-weight--400 {
    font-weight: 400
}

.txt-weight--500 {
    font-weight: 500
}

.txt-weight--600 {
    font-weight: 600
}

.txt-weight--700 {
    font-weight: 700
}

.txt-weight--800 {
    font-weight: 800
}

.txt-weight--900 {
    font-weight: 900
}

.txt-center {
    text-align: center
}

.txt-left {
    text-align: left!important
}

.txt-right {
    text-align: right!important
}

.txt-bot {
    vertical-align: bottom!important
}

.txt-ellipsis {
    max-width: 100%;
    vertical-align: bottom;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis
}

.txt-uppercase {
    text-transform: uppercase
}

.txt-capitalize {
    text-transform: capitalize
}

.txt-antialiased {
    -webkit-font-smoothing: antialiased
}

.txt-sub-antialiased {
    -webkit-font-smoothing: subpixel-antialiased
}
