@import "parametersText.css";
@import "parametersMarginPadding.css";
@import "parametersWidthHeight.css";
@import "parametersFlex.css";

abbr[title] {
    border-bottom-width: 0
}

[hidden] {
    display: none!important;
    visibility: hidden
}

.with-linebreaks {
    white-space: pre-wrap
}

.scroll-none {
    overflow: hidden
}

.scroll-v {
    overflow-y: auto
}

.scroll-h {
    overflow-y: hidden;
    overflow-x: auto
}

.l-table {
    display: table;
    width: 100%;
    height: 100%
}

.l-row {
    display: table-row
}

.l-cell {
    display: table-cell;
    vertical-align: middle
}

.l-cell-modal {
    padding-top: 44px
}

.l-cell.s-padded {
    padding: 0 40px
}

.l-column {
    position: relative;
    float: left;
    width: 200px;
    height: 100%
}

.l-column-scrollv {
    position: absolute;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%
}

.l-quarterheight {
    height: 25%
}

.l-halfheight {
    height: 50%
}

.l-threequarterheight {
    height: 75%
}

.l-fullheight {
    height: 100%
}

.inline {
    display: inline!important
}

.inline-block {
    display: inline-block!important
}

.no-wrap {
    overflow: visible;
    white-space: nowrap
}

.wrap {
    white-space: normal
}

.visible-overflow--important {
    overflow: visible!important
}

.block {
    display: block!important
}

.nbfc {
    overflow: hidden;
    word-break: break-word;
    word-wrap: break-word
}

.hyphenate {
    overflow-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto
}

.nbfc-alt {
    display: table-cell;
    width: 10000px;
    word-break: break-word;
    word-wrap: break-word
}

.cf {
    display: block
}

.cf:after,.cf:before {
    display: block;
    content: " "
}

.cf:after {
    clear: both
}

.pull-right {
    float: right
}

.obj-left,.pull-left {
    float: left
}

.obj-left {
    margin-right: 10px
}

.obj-right {
    float: right;
    margin-left: 10px
}

.obj-center {
    display: block!important;
    margin-left: auto!important;
    margin-right: auto!important
}

.is-hidden {
    display: none!important
}

.position-abs {
    position: absolute
}

.position-rel {
    position: relative
}

.fade {
    opacity: 0;
    transition: opacity .15s linear
}

.fade.in {
    opacity: 1
}

.is-invisible {
    visibility: hidden!important
}

.is-visible {
    visibility: visible!important
}

.is-loading {
    width: auto!important;
    height: auto!important;
    padding: 50px;
}

.pin-top,.pin-top-full-width {
    position: absolute;
    top: 0
}

.pin-top-full-width {
    left: 0;
    right: 0
}

.pin-bottom,.pin-bottom-full-width {
    position: absolute;
    bottom: 0
}

.pin-bottom-full-width {
    left: 0;
    right: 0
}

.pin-bottom--17 {
    position: absolute;
    bottom: 17px
}

.pin-left {
    position: absolute;
    left: 0
}

.pin-left--15 {
    position: absolute;
    left: 15px
}

.pin-all,.pin-right {
    position: absolute;
    right: 0
}

.pin-all {
    top: 0;
    bottom: 0;
    left: 0
}

.pin-v {
    position: absolute;
    top: 0;
    bottom: 0
}

.full-width {
    width: 100%!important
}

.max-full-width {
    max-width: 100%!important
}

.full-height {
    height: 100%!important
}

.half-width {
    width: 50%
}

.reset-height {
    min-height: 0!important
}

.no-collapse {
    min-height: 1em
}

.align-middle {
    vertical-align: middle!important
}

.align-top {
    vertical-align: top!important
}

.vertical-center {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.vertical-align--baseline {
    vertical-align: baseline
}

.border-box {
    box-sizing: border-box
}

.is-actionable {
    cursor: pointer
}

.is-default {
    cursor: default
}

.is-waiting {
    cursor: wait
}

.is-movable {
    cursor: move
}

.is-zoomable {
    cursor: zoom-in
}

.no-radius {
    border-radius: 0!important
}

.no-border {
    border: none!important
}
