.flex {
    display: flex
}

.inline-flex {
    display: inline-flex
}

.flex-auto {
    flex: 1 1 auto;
    min-width: 1px;
    min-height: 1px
}

.flex-none {
    flex: none
}

.flex-column {
    flex-direction: column
}

.flex-row {
    flex-direction: row
}

.flex-wrap--wrap {
    flex-wrap: wrap
}

.flex-align--center {
    align-items: center
}

.flex-align--baseline {
    align-items: baseline
}

.flex-align-self--flex-end {
    align-self: flex-end
}

.flex-align-self--center {
    align-self: center
}

.flex-justify-content--center {
    justify-content: center
}

.flex-justify-content--space-between {
    justify-content: space-between
}

.flex-justify-content--flex-end {
    justify-content: flex-end
}

.flex-justify-content--flex-center {
    justify-content: center
}

.flex-shrink--0 {
    flex-shrink: 0
}

.flex-grow--0 {
    flex-grow: 0
}

.flex-shrink--1 {
    flex-shrink: 1
}

.flex-grow--1 {
    flex-grow: 1
}

.flex-shrink--2 {
    flex-shrink: 2
}

.flex-grow--2 {
    flex-grow: 2
}

.flex-shrink--3 {
    flex-shrink: 3
}

.flex-grow--3 {
    flex-grow: 3
}

.flex-shrink--4 {
    flex-shrink: 4
}

.flex-grow--4 {
    flex-grow: 4
}

.flex-shrink--5 {
    flex-shrink: 5
}

.flex-grow--5 {
    flex-grow: 5
}

.flex-shrink--6 {
    flex-shrink: 6
}

.flex-grow--6 {
    flex-grow: 6
}

.flex-shrink--7 {
    flex-shrink: 7
}

.flex-grow--7 {
    flex-grow: 7
}

.flex-shrink--8 {
    flex-shrink: 8
}

.flex-grow--8 {
    flex-grow: 8
}

.flex-shrink--9 {
    flex-shrink: 9
}

.flex-grow--9 {
    flex-grow: 9
}

.flex-shrink--10 {
    flex-shrink: 10
}

.flex-grow--10 {
    flex-grow: 10
}
