.tweet-actions {
	float:left
}

.tweet {
    padding-left:46px;
    line-height:1.28578em;
    word-break:break-word;
    word-wrap:break-word;
    display:block
}

.tweet:after,.tweet:before {
    display:block;
    content:" "
}

.tweet:after {
    clear:both
}

.tweet-text {
    overflow:hidden
}

.without-tweet-drag-handles .tweet-drag-handle {
   display:none
}

.tweet-timestamp {
    padding-left:5px;
    margin-bottom:2px;
    line-height:1
}
