:root {
	--columnSize:328px;
	--avatarSize:48px;
	--navDrawerBackground:rgba(100,100,100,.4);
	--loginBackgroundColor:#263238;
	--lightShadow:rgba(17,17,17,.1);
	--contextMenuShadow:rgba(0,0,0,.23);
	--thickerShadow:rgba(0,0,0,.4);
	--composeShadow:rgba(17,17,17,.5);
	--columnShadow:rgba(17,17,17,.25);
	--avatarHoverShadow:rgba(17,17,17,.475);
	--avatarActiveShadow:rgba(17,17,17,.95);
	--genericDropShadow:rgba(17,17,17,.25);
	--modalDropShadow:rgba(17,17,17,.6);
	--retweetColor:#13B33F;
	--likeColor:#e91e63;
	--rootWhiteColor:#fff;
	--rootLightGreyColor:#eee;
	--rootBlackColor:#000;
	--animationTiming:cubic-bezier(.1,1,.1,1);
	--defaultFontOrder:Roboto,"Noto Sans","Noto Sans CJK";
	--composeWidth:300px;
	--scrollbarWidth:10px;
	--verticalHeadWidth:50px
}
