
@import "coredefinitions.css";
@import "dark.css";


/* fallback */
@font-face {
  font-family: 'Material';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v47/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmEU9fCRc4EsA.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmEU9fABc4EsA.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmEU9fCBc4EsA.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmEU9fBxc4EsA.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmEU9fCxc4EsA.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmEU9fChc4EsA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
    background-color:transparent;
    font-family:Roboto,"Noto Sans Alphabet","Noto Sans","Noto Sans CJK","Noto Sans CJK JP","Noto Sans CJK KR","Noto Sans CJK SC","Noto Sans CJK TC","Noto Sans JP","Noto Sans KR","Noto Sans SC","Noto Sans TC";
    height: 200px;
}

body {
    background-color:transparent;
    margin:0
}

.TwitterCard .is-emojiCharacter {
    font-weight:400!important
}

.TwitterCard .Emoji--forText {
    height:1.25em;
    width:1.25em;
    padding:0 .05em 0 .1em;
    vertical-align:-.2em
}

.TwitterCard .Emoji--forLinks {
    background-position:.1em;
    background-repeat:no-repeat;
    background-size:1.25em 1.25em;
    letter-spacing:1.1em;
    line-height:1.25em;
    padding-top:.15em;
    -moz-user-select:none;
    -ms-user-select:none
}

.TwitterCard-title {
    font-size:1em;
    color:#fff;
}


.tcu-imageAspect--1to1:before {
    padding-top:100%
}

.tcu-imageAspect--1to2:before {
    padding-top:200%
}

.tcu-imageAspect--2to1:before {
    padding-top:50%
}

.tcu-imageAspect--1_91to1:before {
    padding-top:52.25%
}

.tcu-imageAspect--3to4:before {
    padding-top:133.33%
}

.tcu-imageAspect--4to3:before {
    padding-top:75%
}

.tcu-imageAspect--5to2:before {
    padding-top:40%
}

.tcu-imageAspect--16to9:before {
    padding-top:56.25%;
}

.tcu-imageAspect--4to1:before {
    padding-top:25%
}

.tcu-imageContainer {
    position:relative;
    width:100%;
    overflow:hidden;
    max-height: 170px;
}

.tcu-imageContainer:before {
    content:"";
    display:block;
}

.tcu-imageWrapper {
    position:absolute;
    top:-1px;
    left:-1px;
    bottom:-1px;
    right:-1px;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    max-height: 200px;
}

.tcu-imageWrapper img {
    width:100%;
    height:100%;
    opacity:0;
    max-height: 200px;
}

.TwitterCardsGrid-rtl.TwitterCardsGrid-noColSpacing .TwitterCardsGrid-col--1,.TwitterCardsGrid-rtl .TwitterCardsGrid-noColSpacing .TwitterCardsGrid-col--1 {
    margin-left:0
}

.TwitterCardsGrid .TwitterCardsGrid-col--2 {
    float:left;
    margin-right:.32333em;
    width:15%;
    width:calc(16.66667% - .27778em)
}

.TwitterCardsGrid .TwitterCardsGrid-col--12 {
    float:left;
    width:100%;
    clear:both
}

.PollXChoice-footer {
}

.TwitterCardsGrid .TwitterCardsGrid-col--spacerNext,.TwitterCardsGrid-rtl .TwitterCardsGrid-col--spacerPrev {
    margin-right: 0;
    margin-left: .5em;
}

.TwitterCard .EdgeButton--smallTransparent>b.u-linkComplex-target {
    font-weight:400
}

.twitter-hashflag {
    height:1.25em;
    width:1.25em;
    padding:0 .05em 0 .1em;
    vertical-align:-.2em
}

.TwitterCard .LiveBroadcastCard[data-image-state=hidden] {
    border-radius:0 0 .85714em .85714em
}

.TwitterCard .LiveBroadcastCard[data-image-state=hidden] .LiveBroadcastCard-image {
    display:none
}

.TwitterCard .LiveBroadcastCard[data-image-state=visible] .LiveBroadcastCard-image {
    display:block
}

.TwitterCard .LiveBroadcastCard-image {
    border-style:solid;
    border-width:0;
    border-bottom-width:1px
}

.TwitterCard .LiveBroadcastCard-contentContainer .SummaryCard-content {
    padding-left:1em;
    padding-right:1em
}

.TwitterCard .LiveBroadcastCard-contentContainer .SummaryCard-content p {
    max-height:2.6em
}

.TwitterCard .LiveBroadcastCard-contentContainer:not([data-card-breakpoints~=w300]) .Summary-content p {
    max-height:1.3em;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis
}

.TwitterCard .LiveEventCard[data-image-state=hidden] {
    border-radius:0 0 .85714em .85714em
}


.TwitterCard-attribution--category {
    font-size:16px;
    font-weight:500;
    color:#fff
}

.TwitterCard[data-theme="tweetdeck-light"] {
    color:#000
}

.TwitterCard .LiveEventCard-iconVerified {
    background-repeat:no-repeat;
    background-size:cover;
    display:inline-block;
    height:1em;
    vertical-align:middle;
    width:1em
}

.TwitterCard .LiveEventCard-image {
    border-style:solid;
    border-width:0;
    /* border-bottom-width:1px */
    padding-bottom: 8px;
}

.TwitterCard .LiveEventCard-contentContainer .SummaryCard-content {
    padding-left:1em;
    padding-right:1em
}

.TwitterCard .LiveEventCard-contentContainer .SummaryCard-content p {
    max-height:2.6em
}

.TwitterCard .LiveEventCard-contentContainer:not([data-card-breakpoints~=w300]) .Summary-content p {
    max-height:1.3em;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis
}

.TwitterCard .LiveEventCard .TwitterCard-attribution--avatar {
    margin-right:.28571em
}

.TwitterCard .LiveEventCard .TwitterCard-title {
    font-weight:400
}

.TwitterCard .LiveVideoCard[data-state-live=true] .LiveVideoCard-imageContainer {
    display:none
}

.TwitterCard .LiveVideoCard[data-state-live=true] .LiveVideoCard-videoContainer {
    display:block
}

.TwitterCard .LiveVideoCard[data-state-live=true] .LiveVideoCard-videoContainerClickAreaLeft {
    cursor:pointer;
    left:0;
    margin-bottom:calc(-1 * (57% - 55px));
    padding-top:calc(57% - 55px);
    position:absolute;
    top:0;
    width:82%
}

.TwitterCard .LiveVideoCard[data-state-live=true] .LiveVideoCard-videoContainerClickAreaRight {
    cursor:pointer;
    margin-bottom:calc(-1 * (57% - 55px));
    padding-top:calc(57% - 55px);
    position:absolute;
    right:0;
    top:0;
    width:12%
}

.TwitterCard .LiveVideoCard[data-state-live=true] .LiveVideoCard-contentContainer--static {
    display:none
}

.TwitterCard .LiveVideoCard[data-state-live=true] .LiveVideoCard-contentContainer--video {
    display:block
}

.TwitterCard .LiveVideoCard[data-state-live=false] .LiveVideoCard-imageContainer {
    display:block
}

.TwitterCard .LiveVideoCard[data-state-live=false] .LiveVideoCard-videoContainer {
    display:none
}

.TwitterCard .LiveVideoCard[data-state-live=false] .LiveVideoCard-videoContainerClickAreaLeft {
    display:none
}

.TwitterCard .LiveVideoCard[data-state-live=false] .LiveVideoCard-videoContainerClickAreaRight {
    display:none
}

.TwitterCard .LiveVideoCard[data-state-live=false] .LiveVideoCard-contentContainer--static {
    display:block
}

.TwitterCard .LiveVideoCard[data-state-live=false] .LiveVideoCard-contentContainer--video {
    display:none
}

.TwitterCard .LiveVideoCard[data-state-live=false] .TwitterCard-pill {
    text-transform:none
}

.TwitterCard .LiveVideoCard[data-playing-ad=true] .TwitterCard-pill {
    display:none
}

.TwitterCard .LiveVideoCard[data-playing-ad=false] .TwitterCard-pill {
    display:block
}

.TwitterCard .LiveVideoCard-mediaContainer {
    position:relative
}

.TwitterCard .LiveVideoCard-videoContainer>.TwitterCardsGrid-col--spacerBottom {
    margin-bottom:0
}

.TwitterCard .LiveVideoCard-timer {
    letter-spacing:.05em
}

.TwitterCard .LiveVideoCard .EdgeButton--smallTransparent,.TwitterCard .LiveVideoCard .Button--smallTransparent {
    top:.5em;
    left:1em;
    position:absolute
}

.TwitterCard .LiveVideoCard-postlive .Button--smallTransparent,.TwitterCard .LiveVideoCard-postlive .Button--smallBlue {
    display:none
}

.TwitterCard .LiveVideoCard .SummaryCard-destination {
    text-transform:none;
    margin-top:3px
}

.TwitterCard .LiveVideoCard.SummaryCard--noImage .SummaryCard-image {
    background-position:-50px -50px;
    background-size:170% 170%
}

.TwitterCard .LiveVideoCard.SummaryCard--noImage .SummaryCard-image .tcu-imageContainer {
    background-image:none
}

.TwitterCard .LiveVideoCard.SummaryCard--noImage .SummaryCard-image .tcu-imageContainer .tcu-imageWrapper {
    background-image:none
}

.TwitterCard .LiveVideoCard.SummaryCard--noImage .SummaryCard-image .tcu-imageContainer:after {
    background-image:url(//ton.twimg.com/tfw/assets/twitter_v1_3a8f4c25d89a1e20675893c1d64b2c968a9a9f7f.svg);
    background-position:top left;
    background-repeat:no-repeat;
    background-size:1.5em;
    content:"Live Stream";
    display:block;
    font-size:1.5em;
    font-weight:lighter;
    left:1em;
    padding-top:2em;
    position:absolute;
    top:calc(50% - 1.3em)
}

.TwitterCard .MomentCard-cover {
    border-right-width:1px;
    border-right-style:solid;
    box-sizing:border-box
}

.TwitterCard .MomentCard-content {
    padding:1.14286em 1em
}

.TwitterCard .MomentCard-title .TwitterCard-title {
    font-size:1.14286em;
    line-height:1.25em;
    margin-bottom:.35714em;
    max-height:2.5em;
    overflow:hidden
}

.TwitterCard .MomentCard-title h2 {
    font-weight:700
}

.TwitterCard .MomentCard-subtitle {
    font-size:1em;
    font-weight:400;
    margin:.57143em 0;
    position:relative
}

.TwitterCard .MomentCard-author,.TwitterCard .MomentCard-authorName {
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}

.TwitterCard .MomentCard-authorName {
    display:inline-block;
    font-weight:700;
    max-width:60%;
    vertical-align:middle
}

.TwitterCard .MomentCard-authorScreenName {
    vertical-align:middle
}

.TwitterCard .MomentCard-authorAvatar {
    border-radius:2px;
    height:1em;
    margin-right:.21429em;
    vertical-align:middle;
    width:1em
}

.TwitterCard .MomentCard-description p {
    font-weight:400;
    max-height:6.5em
}

.TwitterCard .MomentCard-badge {
    bottom:1.35714em;
    font-size:1em;
    position:absolute
}

.TwitterCard .MomentCard-badgeText {
    font-weight:400;
    line-height:1.3em;
    margin-left:1.1em
}

.TwitterCard .MomentCard-iconLightning {
    background-repeat:no-repeat;
    background-size:cover;
    bottom:1px;
    display:inline-block;
    height:1.07143em;
    position:absolute;
    width:.57143em
}

.TwitterCard .MomentCard-iconVerified {
    background-repeat:no-repeat;
    background-size:cover;
    display:inline-block;
    height:1em;
    vertical-align:middle;
    width:1em
}

.TwitterCard .MomentCard--unavailable {
    border-radius:.85714em;
    padding:.85714em;
    text-align:center
}

.TwitterCard .MomentCard:not([data-card-breakpoints~=w500]) .MomentCard-cover {
    width:40%;
    width:calc(41.66667% - .19444em)
}

.TwitterCard .MomentCard:not([data-card-breakpoints~=w500]) .MomentCard-contentContainer {
    width:57%;
    width:calc(58.33333% - .13889em)
}

.TwitterCard .MomentCard:not([data-card-breakpoints~=w500]) .MomentCard-description p {
    max-height:2.6em
}

.TwitterCard .MomentCard:not([data-card-breakpoints~=w450]) .MomentCard-description p {
    max-height:1.3em
}

.TwitterCard .MomentCard:not([data-card-breakpoints~=w400]) .MomentCard-description {
    display:none!important
}

.TwitterCard .MomentCard:not([data-card-breakpoints~=w300]) .MomentCard-title .TwitterCard-title,.TwitterCard .MomentCard:not([data-card-breakpoints~=w300]) .MomentCard-subtitle,.TwitterCard .MomentCard:not([data-card-breakpoints~=w300]) .MomentCard-badge {
    font-size:.92857em
}

.TwitterCard .MomentCard:not([data-card-breakpoints~=w200]) .TwitterCard-title,.TwitterCard .MomentCard:not([data-card-breakpoints~=w200]) .MomentCard-category {
    max-height:1.3em;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis
}

.TwitterCard .MomentCard.TwitterCardsGrid-rtl .MomentCard-cover {
    border-left-width:1px;
    border-left-style:solid;
    border-right:0
}

.TwitterCard .PlayerCard--clickToLoad {
    display:none
}

.TwitterCard .PollXChoice[data-poll-image=true] .tcu-imageWrapper:before {
    position:absolute;
    height:100%;
    width:100%;
    content:""
}

.TwitterCard .PollXChoice .PlayerCard--video {
    border-top-left-radius:.85714em!important;
    border-top-right-radius:.85714em!important
}

.TwitterCard .PollXChoice .PlayerCard-videoContainer {
    border-bottom-width:0!important
}

.TwitterCard .PollXChoice-optionContainer {
    margin-bottom:.57143em;
    position:relative;
}

.TwitterCard .PollXChoice-optionContainer .PollXChoice-progress {
    display:inline-block;
    max-width:100%;
    margin-left:.64286em;
    margin-right:.64286em;
    overflow:hidden;
    transition-duration:.3s;
    transition-timing-function:cubic-bezier(.19,1,.22,1);
    transition-property:width,margin-left,margin-right
}

.TwitterCard .PollXChoice-optionContainer .PollXChoice-progress span {
    opacity:0
}

.TwitterCard [data-poll-state=opened] .PollXChoice-optionContainer .PollXChoice-progress {
    max-width:0;
    margin-left:-3em;
    margin-right:3em
}

.TwitterCard .PollXChoice-optionContainer .PollXChoice-choice {
    height: 45px!important;
    margin: 0;
    padding: 0;
}

.TwitterCard .PollXChoice-optionContainer .PollXChoice-choice--chart {
    background: #ccc;
    position:absolute;
    top:0;
    left:0;
    width:0;
    height:100%;
    transition:all .3s cubic-bezier(.19,1,.22,1);
    opacity:1;
    padding-bottom: 2px;
    border-radius: 4px;
}

.TwitterCard[data-theme="tweetdeck-dark"] .PollXChoice-optionContainer .PollXChoice-choice--chart {
    background: var(--txtMuteLink);
}

.TwitterCard [data-poll-state=opened] .PollXChoice-optionContainer .PollXChoice-choice--chart {
    opacity:0
}

[data-poll-state="closed"] input[type="radio"],[data-poll-state="final"] input[type="radio"] {
    display:none
}

input[type="radio"] {
    float:left
}

input[type="radio"]:before {
    content:"\e836";
    line-height:40px;
    font-size:24px;
    font-family:"Material"
}

input[type="radio"]:checked:before {
    content:"\e837"
}

.TwitterCard .PollXChoice-optionContainer .PollXChoice-choice--radio:before {
    content:"\e836";
    font-family:"Material";
    line-height:27px
}

.TwitterCard .PollXChoice-optionContainer .PollXChoice-choice--radio {
    display:none
}


.PollXChoice-vote--button {
    display:block;
    float:none;
    margin-top:40px;
    box-shadow:0 3px 7px rgba(17,17,17,.5);
    padding:11px;
    outline:none;
    -webkit-appearance:none;
    border:0;
    text-transform:uppercase;
    border-radius:4px
}


.TwitterCard .PollXChoice-optionContainer .PollXChoice-choice--input {
    -webkit-appearance:none
}

.TwitterCard .PollXChoice-optionContainer .PollXChoice-choice--text {
    position:relative;
    display:inline-block;
    padding-top: 0.85em;
    /* padding-bottom:.28571em; */
    float:left;
}


.TwitterCard[data-theme="tweetdeck-light"] .TwitterCard-title,
.TwitterCard[data-theme="tweetdeck-light"] .PollXChoice-optionContainer .PollXChoice-choice--text,
.TwitterCard[data-theme="tweetdeck-light"] .PollXChoice-footer span {
    color:#000
}

.TwitterCard[data-theme="tweetdeck-light"] p {
    color:#aaa
}

.TwitterCard[data-theme="tweetdeck-dark"] p {
    color:var(--txtMuteLink)
}


.TwitterCard[data-theme="tweetdeck-light"] .PollXChoice-vote--button[disabled="true"] {
    background-color:#eee!important;
    color:#aaa
}


.TwitterCard .PollXChoice-optionContainer .PollXChoice-choice--text span {
    vertical-align:middle
}

.TwitterCard .PollXChoice-optionContainer .PollXChoice-choice--anchor {
    display:block;
    border:0;
    margin:0;
    padding:0;
    position:relative;
    text-decoration:none;
    outline:0
}

.TwitterCard .PollXChoice-optionContainer .PollXChoice-choice--anchor:link,.TwitterCard .PollXChoice-optionContainer .PollXChoice-choice--anchor:visited,.TwitterCard .PollXChoice-optionContainer .PollXChoice-choice--anchor:hover,.TwitterCard .PollXChoice-optionContainer .PollXChoice-choice--anchor:active {
    text-decoration:none;
    outline:0
}

.TwitterCard .PollXChoice-footer span {
    vertical-align:middle
}

.TwitterCard [data-poll-state=closed] .PollXChoice-footer .PollXChoice-info,.TwitterCard [data-poll-state=final] .PollXChoice-footer .PollXChoice-info {
    margin-left:0
}

.TwitterCard .PollXChoice-footer .PollXChoice-info .PollXChoice-vote {
    display:inline-block;
    margin-top:0;
    padding:4px;
    border-radius:.33333em;
    transition:all .3s cubic-bezier(.19,1,.22,1)
}

.TwitterCard .TwitterCardsGrid-rtl .PollXChoice-footer .PollXChoice-info .PollXChoice-vote {
    margin-left:.64286em;
    margin-right:0
}

.TwitterCard .PollXChoice-footer .PollXChoice-info .PollXChoice-vote button {
    margin-top:0!important;
    outline:0
}

.PollXChoice-vote--button[disabled="true"] {
    background-color:var(--disabledColor)!important;
    color:rgba(255, 255, 255, .25)
}

.PollXChoice-vote--button {
    background-color:var(--secondaryColor)!important;
    color:#fff
}

.TwitterCard .PollXChoice-footer .PollXChoice-info .PollXChoice-vote a:link,.TwitterCard .PollXChoice-footer .PollXChoice-info .PollXChoice-vote a:visited,.TwitterCard .PollXChoice-footer .PollXChoice-info .PollXChoice-vote a:hover,.TwitterCard .PollXChoice-footer .PollXChoice-info .PollXChoice-vote a:active {
    text-decoration:none;
    outline:0
}
