

.mtd-light .mtd-nd-header-username {
	color:#000
}

#mtdfeedback {
	position:relative!important;
	margin-top:8px
}

.mtd-nav-drawer-background {
	background:transparent
}

.mtd-nav-drawer {
	height:auto;
	padding-bottom:10px;
	border-radius: 0 5px 5px 5px;
}

.mtd-nav-drawer-hidden {
	margin-top:-40px;
	margin-left:0;
	opacity:0;
	pointer-events:none
}

#mtd_nd_header_image,.mdl-links {
	display:none
}

.mtd-nd-header-photo.avatar {
	height:36px!important;
	width:36px!important;
	margin-top:10px;
	margin-left:10px
}

.mtd-nd-header-username {
	margin-top:20px;
	margin-left:60px;
	text-align:left;
	text-shadow:none
}

.mtd-nav-first-button {
	margin-top:60px
}

.mtd-nav-drawer-hidden .mtd-nav-button {
	pointer-events:none
}

.mtd-nav-divider-feedback {
	display:block
}
.mtd-nav-group-expand {
	display:none
}

.mtd-nav-group:not(.mtd-nav-group-expanded) {
	height:inherit!important
}
