@keyframes mtdGifHeaderFixed {
	0% {opacity:0;top:-80px}
	100% {opacity:1;top:-40px}
}

@keyframes mtdGifHeaderFixedHeadLeft {
	0% {opacity:0;top:-25px}
	100% {opacity:1;top:15px}
}

.mtd-gif-container {
	height:auto;
	min-height:300px;
	width:calc(var(--composeWidth) - 5px);
	left:0;
	transition:all 0.25s var(--animationTiming)!important;
	opacity:0;
	animation:none!important;
	margin-top:4px;
	margin-bottom:10px;
	pointer-events:none!important
}

.mtd-gif-container-open {
	animation:calendarMenuDown 0.3s var(--animationTiming)!important;
	opacity:1;
	pointer-events:all!important
}

.mtd-gif-container:not(.mtd-gif-container-open) input {
	pointer-events:none!important
}

.mtd-gif-column {
	width:50%;
	height:100%;
	float:left;
	margin-top:50px
}

.mtd-gif-column>img {
	width:100%;
	margin-top:-4px;
	cursor:pointer
}

.mtd-gif-container .preloader-wrapper {
	left:50%;
	margin-left:-24px
}

.mtd-gif-container h1 {
	padding-left:5px
}

.mtd-giphy-logo {
	width:120px;
	position:absolute;
	right:0;
	top:10px;
}

.mtd-gif-header-fixed .mtd-giphy-logo,
.mtd-gif-header:not(.mtd-gif-header-fixed) .mtd-gif-top-button
{
	display:none
}

.mtd-gif-search {
	width:50%;
	margin-bottom:7px
}

.mtd-gif-header {
	position:absolute;
	left:0;
	right:0
}

.mtd-gif-header.mtd-gif-header-fixed {
	position:fixed;
	border-radius:0;
	top:-40px;
	z-index:10;
	left:initial;
	right:initial;
	width:calc(var(--composeWidth) - 5px);
	animation:mtdGifHeaderFixed 0.2s var(--animationTiming);
}

.mtd-head-left .mtd-gif-header.mtd-gif-header-fixed {
	top:15px;
	animation-name:mtdGifHeaderFixedHeadLeft
}

.mtd-gif-top-button {
	padding-top:14px
}

.mtd-gif-top-button>i {
	margin-top:-2px;
	margin-right:4px
}
