
.dropdown-menu a[data-action="embed"]:before,.dropdown-menu a[data-action="inspectElement"]:before {
	content:"\e86f"
}

.dropdown-menu a[data-action="reference-to"]:before {
	content:"\e157"
}

.dropdown-menu a[data-action="message-to"]:before,.dropdown-menu a[data-action="message"]:before {
	content:"\e0c9"
}

.dropdown-menu a[data-action="email"]:before {
	content:"\e0be"
}


.dropdown-menu a[data-action="followOrUnfollow"]:before {
	content:"\e7fe"
}

.dropdown-menu a[data-action="favoriteOrUnfavorite"]:before {
	content:"\e87d"
}

.dropdown-menu a[data-action="lists"]:before {
	content:"\e8ef"
}

.dropdown-menu a[data-action="customtimelines"]:before {
	content:"\e431"
}

.dropdown-menu a[data-action="search-for-quoted"]:before {
	content:"\e244"
}

.dropdown-menu a[data-action="flag-media"]:before {
	content:"\e153"
}

.dropdown-menu a[data-action="mute"]:before,.dropdown-menu a[data-action="muteConversation"]:before {
	content:"\e04f"
}

.dropdown-menu a[data-action="block"]:before {
	content:"\e14b"
}

.dropdown-menu a[data-action="report-tweet"]:before,.dropdown-menu a[data-action="report-spam"]:before {
	content:"\e160"
}

.dropdown-menu a[data-action="destroy"]:before {
	content:"\e872"
}

.dropdown-menu a[data-action="openLink"]:before,.dropdown-menu a[data-action="openImage"]:before {
	content:"\e89d"
}

.dropdown-menu a[data-action="cut"]:before {
	content:"\e14e"
}

.dropdown-menu a[data-action="copy"]:before,.dropdown-menu a[data-action="copyLink"]:before,.dropdown-menu a[data-action="copyImageURL"]:before {
	content:"\e14d"
}

.dropdown-menu a[data-action="copyImage"]:before {
	content:"\e173"
}

.dropdown-menu a[data-action="paste"]:before {
	content:"\e14f"
}

.dropdown-menu a[data-action="selectAll"]:before {
	content:"\e162"
}

.dropdown-menu a[data-action="undo"]:before {
	content:"\e166"
}

.dropdown-menu a[data-action="redo"]:before {
	content:"\e15a"
}

.dropdown-menu a[data-action="saveImage"]:before {
	content:"\e171"
}


.dropdown-menu a[data-action] {
	font-size:14px
}

.dropdown-menu .dropdown-text-large a[data-action]:before {
	display:none!important
}

.dropdown-menu a[data-action]:before {
	height:24px;
	width:24px;
	font-family:Material;
	font-size:22px;
	vertical-align:middle;
	line-height:28px;
	position:relative;
	padding-right:5px;
	display:block;
	float:left
}

.mtd-context-menu.dropdown-menu a[data-action]:before {
	padding-right:0;
	padding-top:4px;
	margin-left:12px;
	margin-right:-10px
}


.mtd-context-menu,.mtd-context-menu ul,.mtd-context-menu a,.mtd-context-menu div {
	position:relative
}

.mtd-context-menu {
	animation-name:contextMenuDown;
	transition:opacity 0.2s var(--animationTiming);
	position:absolute;
	width:fit-content;
	z-index:31
}

.mtd-context-menu li:not(.drp-h-divider) {
	width:auto;
	float:left;
	clear:left;
	display:inline-block;
	position:relative;
	padding:0;
	height:42px
}

.mtd-context-menu div.drp-h-divider {
	width:100%;
	float:left;
	clear:left;
	display:inline-block;
	position:relative;
	padding:0
}

.mtd-context-menu a {
	line-height:2.75;
	padding:15px;
	height:auto;
	-webkit-app-region:no-drag
}

.mtd-context-menu a[disabled] {
	opacity:0.35
}

.mtd-context-menu div.drp-h-divider:last-child {
	display:none
}

.mtd-context-menu ul {
	padding:5px;
	padding-left:0
}

.mtd-app:not(.dark):not(.light):before {
	-webkit-app-region:drag;
	display:block;
	position:absolute;
	height:40px;
	top:0;
	left:0;
	right:0
}
